[submodule "dependencies/robosumo"]
	path = dependencies/robosumo
	url = https://github.com/openai/robosumo
[submodule "dependencies/google-research"]
	path = dependencies/google-research
	url = https://github.com/google-research/google-research
[submodule "dependencies/multiagent-particle-envs"]
	path = dependencies/multiagent-particle-envs
	url = https://github.com/openai/multiagent-particle-envs
[submodule "dependencies/open_spiel"]
	path = dependencies/open_spiel
	url = https://github.com/indylab/open_spiel.git
